﻿@using SecretSanta.WebUI.Controllers.Game.ViewModels
@model GamePageViewModel
@{
    ViewBag.Title = "Välkommen till Hemliga Jultomten";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@functions
{

    public string GetTabLinkClass(string tabId)
    {
        if (string.IsNullOrEmpty(Model.CurrentTab) && tabId == "chosen")
            return "active";
        return tabId == Model.CurrentTab ? "active" : "";
    }

    public string GetTabDivClass(string tabId)
    {
        if (string.IsNullOrEmpty(Model.CurrentTab) && tabId == "chosen")
            return "active in";
        return tabId == Model.CurrentTab ? "active in" : "";
    }

}
    
    @section Menu
    {
        @Html.Partial("Partials/Menu", Model.MenuViewModel)
    }



    <div class="text-center text-white">
        <h1 class="text-danger">
            Kul att du tittar förbi @Model.LoggedInUser.FirstName!</h1>
    </div>

    <div class="container">
        <div class="row ">
            <div class="col-lg-6 col-lg-offset-3 background-color-white rounded-corners snowfallCollector">
                <ul id="gameTab" class="nav nav-tabs">
                    <li class="@GetTabLinkClass("chosen")" title="Den du ska ge till"><a href="#chosen" data-toggle="tab">Den Utvalda <i class="glyphicon-envelope"> @Model.ReceivingUserPresenterViewModel.AnonUserChatViewModel.Messages.Count</i></a></li>
                    <li class="@GetTabLinkClass("wishlist")" title="Det du vill ha"><a href="#wishlist" data-toggle="tab">Din önskelista <i class="glyphicon-envelope"> @Model.UserWishlistPresenterViewModel.AnonUserChatViewModel.Messages.Count </i></a></li>
                    <li class="@GetTabLinkClass("groupChat")" title="Alla deltagare"><a href="#groupChat" data-toggle="tab">Chatta med alla <i class="glyphicon-envelope"> @Model.GroupChatPresenterViewModel.GroupChatViewModel.Messages.Count</i></a></li>
                    <ul class="nav navbar-nav">
                    </ul>
                </ul>
                <div id="gameTabContent" class="tab-content">
                    <div class="tab-pane fade @GetTabDivClass("chosen")" id="chosen">
                        @Html.Partial("GameElements/ReceivingUserPresenter", Model.ReceivingUserPresenterViewModel)
                    </div>
                    <div class="tab-pane fade @GetTabDivClass("wishlist")" id="wishlist">
                        @Html.Partial("GameElements/UserWishlistPresenter", Model.UserWishlistPresenterViewModel)
                    </div>
                    <div class="tab-pane fade @GetTabDivClass("groupChat")" id="groupChat">
                        @Html.Partial("GameElements/GroupChatPresenter", Model.GroupChatPresenterViewModel)
                    </div>
                </div>
            </div>
        </div>
    </div>

            
     
  