﻿@model SecretSanta.WebUI.Controllers.Game.ViewModels.GroupChatPresenterViewModel

<h4>Chatta med alla andra</h4>
<p>Här kan du chatta med alla andra som är med i <a href="#" data-toggle="modal" data-target="#@Model.GroupInformationModalViewModel.ModalId">din Hemliga Julklappstomtegrupp</a></p>

@Html.Partial("GameElements/GroupInformationModal", Model.GroupInformationModalViewModel)
<br/>
@Html.Partial("GameElements/GroupChat", Model.GroupChatViewModel)