﻿@model SecretSanta.WebUI.Controllers.Game.ViewModels.GroupChatViewModel
<script type="text/javascript">
    
    var objDiv = document.getElementsByClassName("group-chat");
    objDiv.scrollTop = objDiv.scrollHeight;
</script>

<div>
    <div class="chat group-chat">
        <table>
            <thead>
                <tr>
                    <th style="width: 1%">
                       
                    </th>
                    <th>
                    </th>
                    
                    <th style="width: 1%">
                       
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var msg in Model.Messages){
                    <tr>
                        <td>
                            <strong> @(msg.UserName.Equals(Model.SendingUserName, StringComparison.InvariantCultureIgnoreCase) ? "Du:" : msg.UserName)</strong>
                        </td>
                        <td>
                            @msg.Message
                        </td>
                        <td style="border-left: dotted 1px;"><i>@msg.CreateDate.ToString("MM/dd HH:mm:ss")</i></td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    @using (Html.BeginForm("SendGroupMessage", "Game", FormMethod.Post))
    {
        @Html.Hidden("groupId", Model.GroupId)
        <input type="hidden" name="CurrentGroup" value="@Model.CurrentGroup"/>
        <input type="hidden" name="CurrentTab" value="groupChat"/>
        <div class="input-group margin">
            <input type="text" name="message" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    Sänd</button>
            </span>
        </div>
    }

    
        </div>