﻿@{
    ViewBag.Title = "Logga in på Hemliga Jultomten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    
    <div class="row" style="padding-top: 10%;">
        <div class="col-md-8 col-md-offset-2">
            <div class="well well-lg snowfallCollector">
                <h2>Login denied :(</h2>
                @using (Html.BeginForm("Login", "Game", FormMethod.Post, new {@class = "form-horizontal"}))
                {
                    <div class="form-group">
                        <label for="userName" class="col-sm-2 control-label">
                            Användarnamn</label>
                        <div class="col-sm-9">
                            <input type="text" name="userName" class="form-control" id="userName" placeholder="Användarnamn">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">
                            Lösenord</label>
                        <div class="col-sm-9">
                            <input type="password" name="password" class="form-control" id="password" placeholder="Lösenord">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">
                                Logga in</button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
