﻿html {
    background-color: #b1dde0;
}
.center{
  width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.text-white {
    color: white;
}
.game-container 
{
    background-size: 100%;
    background: url(images/santa-blue.png) top center no-repeat;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 900px; 
}


.gift-img
{
    
    background-size: 100%;
    background-image: url('/Content/Images/christmas-gift.jpg');
    background-repeat: no-repeat;
 
}

#unwrap-ss {
    cursor: pointer;
}

.nav-tabs {
    border-bottom: none;
}
.background-color-white {
    background-color: white;
}

.rounded-corners {
       border-top-right-radius: 10px;
        border-bottom-right-radius:10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
}

.chat 
{
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    
  scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
    
}

/* Let's get this party started */
.chat::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.chat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.chat::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: green; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.group-chat 
{
    
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 20px;
}

.margin {
    margin: 10px 10px 10px 10px;
    padding-bottom: 15px;
}
html,body{padding:0; margin:0;}
.darkBg{background:#2d0f0f url(images/smashing.jpg) top center;background-repeat:no-repeat;}
.lightBg{background : url(images/snow.jpg) #b1dde0 top center no-repeat;}
.collectonme{margin:120px auto; background: red; width:50%; text-align:center; font-size:1.2em; color:#fff;}


.receiving-user-text 
{
    color: green;
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}
.receiving-user-text:hover,
.receiving-user-text.glow {
    text-shadow: 0 0 10px red;
}

.snowfallCollector {
    
}

.underlined-text {
    text-decoration: underline;
    
}

.wishlist {
    list-style-image: url('Images/ikon-julkula.png');
}

.group-participant-list {
    list-style-image: url('Images/ikon-julkula.png');
}

.center { float: none; margin-left: auto; margin-right: auto; }

