﻿@using SecretSanta.WebUI.Controllers.Game.ViewModels
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap-theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/lib/jquery/dist/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.js")" type="text/javascript"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="@Url.Content("~/js/init.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/theGame.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/snowfall.jquery.js")" type="text/javascript"></script>

    <meta http-equiv="X-UA-Compatible" content="IE=8" />
</head>

<body class="game-container">
@RenderSection("Menu",false)
@if (!IsSectionDefined("Menu"))
{
    @Html.Partial("Partials/Menu", new MenuViewModel())
}
<div class="container">
    @Html.Partial("Partials/Alert")
           
            
    <div class="span12">
        @RenderBody() 
    </div>


</div>
</body>
    
</html>
