﻿@using SecretSanta.RazorWebUI.Controllers.Admin.ViewModels
@model SecretSanta.RazorWebUI.Controllers.Admin.ViewModels.GroupOverviewViedModel

@{
    ViewBag.Title = "Add or Edit groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
$(document).ready(function () {
    $('.editable').editable({
        url: "SaveOrUpdateGroup",
        send: "always",
        mode: "popup",
        ajaxOptions: {
            contentType: 'application/json'
        },
        select2: {
            tokenSeparators: [","],
            tags: [],
            width: "resolve"
        },
        params: function (params) {

            var data = {};
            var editables = $(this).parents("tr").find("a");
            var activeEdit = $(this);
            $(editables).each(function () {

                var paramName = $(this).attr("name");
                if (paramName == "UserNames") {
                    data[paramName] = (activeEdit.attr("name") == "UserNames" ? params.value : $(this).text().split(","));
                }
                else if (paramName == "BlacklistedUserPairs") {
                    data[paramName] = (activeEdit.attr("name") == "BlacklistedUserPairs" ? params.value : $(this).text().split(","));
                } 
                else {
                    data[paramName] = (activeEdit.attr("name") == paramName ? params.value : $(this).text());
                }   
            });
            alert(JSON.stringify(data));
            return JSON.stringify(data);
        }
    });
});
</script>



<h2>@ViewBag.Title</h2>
<div class="well-lg background-color-white">
    <table class="table table-bordered table-striped snowfallCollector"  >
        <thead>
            <tr>
                <th>Group name</th>
                <th>Users</th>
                <th>Blacklisted users</th>
                <th>Action</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var group in Model.GroupViewModels)
            {
                <tr>
                    <td><a href="#" class="editable" data-type="text" data-title="Enter group name" name="GroupName">@group.Name</a></td>
                    <td><a href="#" class="editable" data-type="text" data-title="Add users by their user names" name="UserNames">@string.Join(",", group.UserNames)</a></td>
                    <td><a href="#" class="editable" data-type="text" data-title="Add blacklist pairs" name="BlacklistedUserPairs">
                            @string.Join(",", group.BlacklistedPairs.Select(x=>x.SecretSantaUserName + " -> " +x.ReceiverUserName))
                        </a>
                    </td>
                    <td>
                        @if (group.Started.HasValue)
                        {
                            <p>Started @group.Started.Value</p>
                             @Html.ActionLink("Restart group", "StartGroup", new { groupId = group.Id})
                        }
                        else
                        {
                            <p>Not started</p>
                             @Html.ActionLink("Start group", "StartGroup", new { groupId= group.Id})
                        }
                       
                    </td>
                    <td style="width:1%">
                        @using (Html.BeginForm("DeleteGroup", "Admin", FormMethod.Post, new { @class = "text-center", style = "margin-bottom: 0px;" }))
                        {
                            <input type="hidden" name="groupId" value="@group.Id" />
                            <button type="submit" class="btn btn-mini btn-danger"><i class="glyphicon-trash"> </i></button>
                        }
                    </td>
                    <td class="hidden"> <a name="id">@group.Id</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row-fluid">
        

        @using (Html.BeginForm("AddNewGroup", "Admin", FormMethod.Post))
        {
          <input type="submit" class="btn btn-primary" value="Add group"/>  
        }                                                                             
    </div>
</div>