﻿@using SecretSanta.WebUI.Controllers.Game.ViewModels
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Bootstrap-theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="@Url.Content("~/Scripts/init.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/theGame.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/snowfall.jquery.js")" type="text/javascript"></script>

   <meta http-equiv="X-UA-Compatible" content="IE=8" />
</head>

    <body class="game-container">
        @RenderSection("Menu",false)
        @if (!IsSectionDefined("Menu"))
        {
            @Html.Partial("Partials/Menu", new MenuViewModel())
        }
        <div class="container">
            @Html.Partial("Partials/Alert")
           
            
            <div class="span12">
                @RenderBody() 
            </div>


        </div>
    </body>
    
</html>
