﻿@model SecretSanta.WebUI.Controllers.Game.ViewModels.MenuViewModel
@functions
{
    private MvcHtmlString ActionListItemLink(string linkText, string actionName, string controllerName)
    {
        var currentController = ViewContext.RouteData.GetRequiredString("controller");
        var currentAction = ViewContext.RouteData.GetRequiredString("action");
        var liClass = currentController == controllerName && currentAction == actionName ? "active" : "";
        return new MvcHtmlString(string.Format("<li class=\"{0}\">{1}</li>", liClass, Html.ActionLink(linkText, actionName, controllerName)));
    }

    private bool IsAdmin()
    {
        var ssCookie = Request.Cookies["Secretsanta"];
        if (ssCookie == null)
            return false;
        return ssCookie["UserName"] == "emanmag";
    }

    private bool ShowLogout()
    {
        var ssCookie = Request.Cookies["Secretsanta"];
        if (ssCookie == null)
            return false;
        
        return true;
    }

}
<ul class="nav nav-tabs">
    @if (IsAdmin())
    {
        @ActionListItemLink("Groups", "GroupOverview", "Admin")
        @ActionListItemLink("Users", "UserOverview", "Admin")
        @ActionListItemLink("Game", "GamePage", "Game")
    }
    @if (ShowLogout())
    {
        <li class="pull-right">@Html.ActionLink("Logga ut", "Logout", "Game")</li>
    }
    <li class="pull-right" id="clear"><a title="Ta bort alla snöflingor" href="#">Skotta</a></li>
    @if (Model.GameGroupMenuViewModel != null)
    {
        @Html.Partial("Partials/GameGroupMenu", Model.GameGroupMenuViewModel)
    }
</ul>
