﻿@using SecretSanta.Core.Domain
@using SecretSanta.RazorWebUI.Controllers.Game.ViewModels
@model SecretSanta.RazorWebUI.Controllers.Game.ViewModels.GroupInformationModalViewModel

<div class="modal fade" id="@Model.ModalId" tabindex="-1" role="dialog" aria-labelledby="@Model.ModalId+Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="@Model.ModalId+Label">@Model.Group.Name</h4>
      </div>
      <div class="modal-body">
          <p>Gruppen @Model.Group.Name som du är med i @(Model.Group.Started.HasValue ? "startades " + @Model.Group.Started : "har ännu inte startat").</p>
          <p>Den består av dig och @(Model.Users.Count-1) andra deltagare:</p>
          <ul>
              @foreach (var user in Model.Users)
              {
                  <li>@user.UserName</li>
              }
          </ul>
          
            <img src="@Url.Content("~/images/Christmas-Gift-Christmas-smiley.gif")"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng rutan</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->