﻿@using SecretSanta.RazorWebUI.Helpers
@model SecretSanta.WebUI.Controllers.Game.ViewModels.ReceivingUserPresenterViewModel
<div class="">
    @if (Model.ReceivingUser != null)
    {
        <div class="text-center">
            <h4>
                Du har blivit utvald att ge en present till:</h4>
            <h2 class="receiving-user-text">@Model.ReceivingUser.FirstName @Model.ReceivingUser.LastName</h2>
            @if (Model.ReceivingUser.LastLoginDate.HasValue)
            {
                <p><i>Personens senaste besök: @Model.ReceivingUser.LastLoginDate.Value.ToShortDateString()</i></p>
            }
            else
            {
                <p>Personen har ALDRIG varit inne på den här sidan :/</p>
            }
            <img src="@Url.Content("~/images/girlang1.gif")"/>
        </div>
        <h4 class="underlined-text">
            @Model.ReceivingUser.FirstName Önskelista</h4>
        <ul class="wishlist">
            @foreach (var wish in Model.ReceivingUserWishlist)
            {
                <li>@wish.Description</li>
            }
        </ul>
        if (Model.ReceivingUserWishlist.IsNullOrEmpty())
        {
            <p>Din mottagare har inte lagt in någon önskelista :/</p>
        }
        <br/>
        <h4 class="under">Chatta anonymt med @Model.ReceivingUser.FirstName</h4>
        Model.AnonUserChatViewModel.CurrentTab ="chosen";
        @Html.Partial("GameElements/AnonUserChat", Model.AnonUserChatViewModel)
    }
    else
    {
        <p>Den här gruppen har inte startat sitt spel än!</p>
    }
</div>
