﻿
@using SecretSanta.WebUI.Controllers.Game.ViewModels
@model SecretSanta.RazorWebUI.Controllers.Game.ViewModels.UserWishlistPresenterViewModel
<script type="text/javascript">
    $(document).ready(function () {
        $('.editable').editable({
            url: "Game/SaveOrUpdateWish",
            send: "always",
            mode: "popup",
            ajaxOptions: {
                contentType: 'application/json'
            },
            select2: {
                tokenSeparators: [","],
                tags: [],
                width: "resolve"
            },
            params: function (params) {

                var data = {};
                var editables = $(this).parents("tr").find("a");
                var activeEdit = $(this);

                $(editables).each(function () {
                    var paramName = $(this).attr("name");
                    data[paramName] = (activeEdit.attr("name") == paramName ? params.value : $(this).text());

                });
                data["UserName"] = '@Model.LoggedInUser.UserName';
                return JSON.stringify(data);
            }
        });
    });
</script>
<div>
    <h4>
        Din önskelista</h4>
    <p>
        Här kan du skriva en önskelista som din hemliga tomte kan se. Du kan även chatta med honom/henne, men du inte kommer kunna se vem det är.</p>
    <div class="well-lg background-color-white">
        <table style="margin-bottom: 5px"class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Önskan
                    </th>
                    <th style="width: 1%">
                        Ångra
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var wish in Model.LoggedInUserWishlist)
                {
                    <tr>
                        <td>
                            <a href="#" class="editable" data-type="text" data-title="Skriv in vad du vill ha"
                               name="Wish">@wish.Description</a> <a class="hidden" type="hidden" class="editable"
                                                                    name="WishId">@wish.Id</a>
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteWish", "Game", FormMethod.Post, new { @class = "text-center", style = "margin-bottom: 0px;" }))
                            {
                                @Html.Hidden("wishId", wish.Id)
                                <input type="hidden" name="CurrentTab" value="wishlist"/>
                                <input type="hidden" name="CurrentGropu" value="@Model.CurrentGroup"/>
                                <button type="submit" title="Ta bort önskan" class="btn btn-sm btn-danger">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="">
            @using (Html.BeginForm("AddWish", "Game", FormMethod.Post))
            {
                <input type="hidden" name="CurrentTab" value="wishlist"/>
                <input type="hidden" name="CurrentGroup" value="@Model.CurrentGroup"/>
                <div class="input-group">
                    <input type="text" name="wish" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">
                            Önska!</button>
                    </span>
                </div>
            }
        </div>
    </div>
</div>

@*<div>
    <h4 >Chatta med din hemliga tomte</h4>
    <p>Du kommer inte kunna se namnet på personen.</p>
    @{Model.AnonUserChatViewModel.CurrentTab = "wishlist";}
    @Html.Partial("GameElements/AnonUserChat", Model.AnonUserChatViewModel)
</div>*@
