﻿
@{
    object alert = string.Empty;
    ViewData.TryGetValue("alert", out alert);
}
@if(alert != null)
{
    <div class="alert alert-info">  
        <a class="close" data-dismiss="alert">×</a>  
        @alert.ToString()
    </div>
}