﻿<body >
    <div style="width: 800px;border:green;border-style:double;text-align:center">
        <h1>Väkommen till Hemliga jultomten!</h1>
        <p>Du, just <strong>Du</strong>, har blivit utvald att få vara med i {groupName}s Hemliga tomte!</p> 
        <p>För att börja så öppnar du en webbläsare och navigerar till {gameUrl}.</p>
        
        <p>Användarnamn: <strong>{userName}</strong></p>
        <p>Lösenord:     <strong>{password}</strong></p>
        
        <p>Leken går ut på att du ska köpa en present till en slumpvis utvald person. Personen vet inte vem som är dess 'Hemliga tomte', bara du vet det!</p>
        <p>Har du några frågor kan du alltid kontaka mig. Jag finns här för Dig!</p>
        
        
        <p>Julvänlig hälsning,</p>
        <p>Din Magnus</p>
        
     
    </div>
	   <pre style="font-family:monospace;white-space:pre;">
        ____
       {} _  \
          |__ \
         /_____\
         \o o)\)_______
         (<  ) /#######\
       __{'~` }#########|
      /  {   _}_/########|
     /   {  / _|#/ )####|
    /   \_~/ /_ \  |####|
    \______\/  \ | |####|
     \__________\|/#####|
      |__[X]_____/ \###/
      /___________\
       |    |/    |
       |___/ |___/
      _|   /_|   /
     (___,_(___,_)
     
        </pre>
</body>